@charset "ISO-8859-1";

@media screen and (min-device-width: 1141px){
	


footer {
	clear: both;
	text-align: center;
	font-size: 15px;
	position:fixed;
	bottom: 1%;
	right: 50%;	
}
}

@media screen and (max-device-width: 1140px){
	
	footer {
	
	clear: both;
	text-align: center;
	font-size: 15px;
	position:fixed;
	bottom: 1%;
}
	
}