@charset "ISO-8859-1";

nav ul{
	text-align: center;
}

nav ul li {
	display: inline;
	padding: 0 60px 0 60px;
	
	
}


nav ul li a:link,nav ul li a:visited{
	color: grey;
	text-decoration: none;
}	
	

nav ul li a:hover {
	color: white;
}	


nav {
	background-color: #111;
	position: absolute;
	top: 0px;
	left: 0px;
	right:0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-size: 0.9em;
}
