@charset "UTF-8";


body {
	background:url("/SoftwareHouseWeb/images/backgroung_login_math.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;
	
}

div#container{
	width: 50%;
	height: 35%;
	background-color: black;
	opacity:0.5;
	top: 20%;
	left:5%;
	position: absolute;
}

h1#frase_effetto{
	
	position: absolute;
	width: 80%;
	height: 40%;
	left:5%;
	top:3%;
	padding-left:20px;
	font-size: 250%;
	color: grey;
}

h1#leadership{
	
	position: absolute;
	width: 15%;
	height: 40%;
	left:57%;
	top:15%;
	padding-left:20px;
	font-size: 250%;
	color: grey;
}

.testo_paragrafo a:hover {
	color: white;
}

h1{
	
    
}


#azienda{
	
	position: absolute;
	width: 30%;
	top:60%;
	left:3%;
	font-size: 100%;
	color: gray;
}


div.testo_paragrafo p{
	
	border: 1px solid black;
	opacity: 0.5;
	background: black;
	width: 80%;
	padding: 0 2% 0 2%;
}

#chi_siamo{
	
	position: absolute;
	width: 30%;
	top:60%;
	left:35%;
	font-size: 100%;
	color: gray;
}

#contatti{
	
	position: absolute;
	width: 30%;
	top:60%;
	left:70%;
	font-size: 100%;
	color: gray;
}

p {
	
	display: block;
	
}

