@charset "ISO-8859-1";




#container{
	
	position: relative;
	margin-left: 25%;
	margin-top: 20%;
	
}

p{
	
	margin-top: 2%;
	margin-left: 2%;
	color: red;
	width:50%;
  	height:auto;
  	min-height:100px;
  	font-size:2vw;
  	display: inline;
}

#logo{
	color: #daa520;
	padding: 20px 20px 20px 20px;
	position: relative;
	right: 8%;
	width: 70%;
	height: auto;
}

a{
	color: #4169e1
}