@charset "UTF-8";


div.container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
}


form{
	display:block;
	text-align: center;
	margin-left: 0%;
	background:url("/SoftwareHouseWeb/images/backgroud_login_form_container.jpg");
	border-radius: 25px;
}

p{
	margin-left: 5%;
	margin-top: 10%;
	color: #4169e1
}


.bad_request{
	visibility: hidden;
	color: #cc0000;
	font-size: 1.2em;
	font-weight: bold;
}

a{
	color: #4169e1
}

#logo{
	color: #daa520;
	padding: 20px 20px 20px 20px;
	position: absolute;
	margin-top: 22%;
	transform:trasparent;
}

input.form{
	margin: 6% 0 10% 0;
	padding: 10px 10px 10px 10px;
	width: 80%;
	background-color:#fff5ee;
	border-style: hidden;
	border-color: #4169e1;
	border-radius: 10px;
	font-weight: bold;
}

#form_container{
    width: 30%;
    position: absolute;
    left: 60%;
    top: 32%;
    border: none;
}


@media screen and (min-device-width:1141px){

div.container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
}

#form_container{
    width: 30%;
    left: 60%;
    top: 32%;
}

input#login_button{
	margin-top:4%;
	width: 65%;	
	padding: 10px 10px 10px 10px;
}

h1 {

	width: 30%;
	right:50%;
	top:45%;
	font-size: 350%;
}

div#errorform{
	width: 30%;
	height: 18%;
	background-color: #ffefd5;
	top: 45%;
	left:60%;
	position: absolute;
	border-radius: 25px;
	border-color: white;
	border-style: solid;
}


input#error_button{
	margin-top:0%;
	width: 65%;	
	padding: 10px 10px 10px 10px;
}

}

/************************************************************************************************************************/



@media  screen and (max-width: 1140px) {
	
	
#form_container{
    width: 90%;
    left: 9%;
    top: 30%;
}

h1 {
	width: 30%;
	right:62%;
	top:5%;
	font-size: 280%;
	
}