@charset "UTF-8";


div.container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
}


form{
	display:block;
	text-align: center;
	margin-left: 0%;
	background:url("/SoftwareHouseWeb/images/backgroud_login_form_container.jpg");
	border-radius: 25px;
}


#form_container{
    width: 30%;
    position: absolute;
    left: 60%;
    top: 32%;
    border: none;
}


input.form{
	margin: 6% 0 10% 0;
	padding: 10px 10px 10px 10px;
	width: 80%;
	background-color:#fff5ee;
	border-style: hidden;
	border-color: #4169e1;
	border-radius: 10px;
	font-weight: bold;
}


input#login_button{
	margin-top:4%;
	width: 65%;	
	padding: 10px 10px 10px 10px;
}

h1 {
	position: absolute;
	width: 30%;
	right:50%;
	top:45%;
	padding: 20px 20px 20px 20px;
	font-size: 350%;
	color: #daa520;
}


a{
	color: #4169e1
}


div#errorform{
	width: 30%;
	height: 18%;
	background-color: #ffefd5;
	top: 45%;
	left:60%;
	position: absolute;
	border-radius: 25px;
	border-color: white;
	border-style: solid;
}


input#error_button{
	margin-top:0%;
	width: 65%;	
	padding: 10px 10px 10px 10px;
}


p{
	margin-left: 5%;
	margin-top: 10%;
	color: #4169e1
}


.bad_request{
	visibility: hidden;
	color: #cc0000;
	font-size: 1.2em;
	font-weight: bold;
}