@charset "ISO-8859-1";

body {
	background:url("/SoftwareHouseWeb/images/backgroung_login_math.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;
}

p{
	
	color:grey;
}


table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
			
		}
					
					
					
td, th {
			 border: 1px solid #dddddd;
			 text-align: left;
			 padding: 8px;
			 
		}
					
tr:nth-child(even) {
	
					 	background-color: #dddddd;
					 }
					 