@charset "ISO-8859-1";

body{
	
	margin:0;
	background:url("/SoftwareHouseWeb/images/background_login_math.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;
	
}

#container{
	
	width:100%;
	height: 100%;
}


#descrizione{
	margin-top: 20px;
	margin-left: 20px;
	padding:0.2% 0 0.2% 1%;
	background-color: black;
	opacity:0.5;
	color:#4169e1;
}

#recensioni{
	padding:0.2% 0 0.2% 1%;
	background-color: black;
	opacity:0.5;
	color:#4169e1;
	overflow: auto;
	height: 220px;
	text-align: left;
}



#container_aggiungi{
	padding:0.2% 0 0.2% 1%;
	background-color: black;
	opacity:0.5;
	color:#4169e1;
	height: 150px;
	margin-bottom: 20px;
	width: 98%;
}

#commenta{
	height: 200px;
	text-align: left;	
}


#button_recensione{
	width: 90%;
}


#stars{
	width: 45%;
}

#buttons{
	float: right;
	width: 15%;
	display: inline-block;
}

aside #img_container{
	width: 100%;
	height: 250px;
}

@media screen and (min-width: 701px){
#logo-content{
	position: relative;
	left: 8%;
	margin-top:11%;
	width: 35%;
}

#descrizione{
	
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	width: 48%;
	display: inline-block;
}

aside{
	float: right;
	width: 45%;
	text-align: center;
}


#logo_prodotto{
	width: 50%;
}

aside *{
	margin-top: 20px;
	margin-right: 20px; 
	width: 100%;
}


#recensioni{
	width: 98%;
//	float: right;
}



#commenta{
	display:inline-block;
	width: 75%;
}


}

@media screen and (max-width:700px){
#container aside{
	text-align: center;
	position: absolute;
	top: 12%;
	display: block;
	width: 98%;
}


#descrizione{
	position: absolute;
	display: block;
	width: 98%;
	top:710px;
}

textarea{
	width: 65%;
}

#logo{
	display: block;
	position: absolute;
	top: 930px;
	left:1%;
	width: 98%;
}

#logo-content{
	width: 100%;
}
}