@charset "ISO-8859-1";


table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
			
		}		
					
td, th {
			 border: 1px solid #dddddd;
			 text-align: center;
			 padding: 8px;
			 
		}
					
tr:nth-child(even) {
	background-color: #dddddd;
	background: rgba(255, 255, 255, 0.5);
}

tr:nth-child(odd){
	
	color: grey;
}

body {
	background:url("/SoftwareHouseWeb/images/background_login_math.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;
}

		
.btn_acq{
	cursor: pointer;
	width: inherit;
	height: inherit;
	color: black;
	border: none;
	text-align: center;
	padding: 3px;
	background-color: #aaa;
}

.btn_acq:hover{
	background-color: #ddd;
}


tr:nth-child(odd) .btn_acq{
	background-color: #69f;
}

tr:nth-child(odd) .btn_acq:hover{
	background-color: #224a5a;
}

.btn_acq:disabled{
	cursor: auto !important;
	background-color: #aaa !important;
	
}
		 